<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XYTabbar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AEF377A51DDDE77A00FFA748</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEF377BE1DDDE77A00FFA748</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEF377C91DDDE77A00FFA748</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
